.button {
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
    display: flex !important;
    flex-direction: row;

    &:hover .bc {
        opacity: 0.25;
    }

    .bc {
        opacity: 0.15;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        transition: 0.2s;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    .btn-title {
        margin-left: 5px;
    }

    svg {
        width: 20px;
        height: 20px;
    }
}
