.titlebar {
    height: 40px;
    padding: 0 10px;
    -webkit-app-region: drag;

    .right-sec {
        height: 100%;
        float: right;
        display: flex;
        -webkit-app-region: no-drag;

        .close-btn {
            width: 30px;
            height: 40px;
            fill: #d8d9db;
            display: flex;
            justify-content: center;
            cursor: pointer;
            transition: 0.1s;

            &:hover {
                fill: #e63946;
            }

            svg {
                width: 12px;
            }
        }

        .minimize-btn {
            width: 30px;
            height: 40px;
            fill: #d8d9db;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.1s;

            &:hover {
                fill: #82878f;
            }

            svg {
                width: 15px;
            }
        }
    }
}
